@media (max-width: 800px) {
  .screen {
    padding-bottom: 2rem;
  }
}
.hero_section {
  display: grid;
  place-content: center;
  height: 30vh;
  margin-top: 4.375rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.main_wrapper {
  background-size: cover;
  background-position: top;
}

.wrapper {
  padding: 2rem 0;
  max-width: 70rem;
  margin: 0 auto;
}

.info_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  max-width: 60rem;
  margin: 1rem 1rem;
}

@media (max-width: 800px) {
  .info_wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'text'
      'image';
  }
  .image_container {
    grid-area: image;
  }
}

.image {
  max-width: 100%;
}

.heading {
  font-size: 4rem;
  color: #fff;
}

.video_section {
  overflow: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.video_container {
  max-width: 60rem;
  margin: 4rem auto;
}

.video {
  margin: 1rem;
  padding: 0.1rem;
  max-height: 80vh;
  border: 1px solid #50d450;
  box-shadow: 6px 6px 6px #50d450;
}

.logo {
  max-width: 20rem;
  margin: 0 auto;
}
