@media (max-width: 800px) {
  .screen {
    padding-bottom: 4rem;
  }
}

.main_wrapper {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  min-height: 80vh;
  padding-bottom: 2rem;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
}

.hero_section {
  display: grid;
  place-content: center;
  height: 30vh;
  margin-top: 4.375rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.empty_cart {
  font-size: 2rem;
}

/* @media (max-width: 1200px) {
  .main_wrapper {
    grid-template-columns: 500px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'image info'
      'checkout info';
  }
} */

.info {
  width: max-content;
}

.info_row {
  display: grid;
  gap: 1rem;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100px minmax(150px, 1fr) 50px 50px;
  padding: 1rem;
  margin: 1.5rem 0;
}

.checkout {
  width: 300px;
  padding: 0.5rem;
  border: 2px solid #50d450;
  height: max-content;
}

.checkout_button {
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
  color: var(--checkout-button-text-color);
  padding: 0.5rem;
  background: transparent;
  border: 1px solid transparent;
  border-color: var(--checkout-button-border-color);
  transition: all 500ms linear, ease 500ms;
}

.checkout_button::after {
  content: '';
  background: var(--checkout-button-border-color);
  position: absolute;
  width: 0;
  z-index: 1;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 1s linear, ease 1s;
}

.checkout_button:hover::after,
.checkout_button:focus::after,
.checkout_button:active::after {
  width: 100%;
}

.checkout_button:disabled,
.checkout_button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 800px) {
  .info {
    margin: 0 auto;
    min-width: 300px;
  }

  .info_row {
    grid-template-columns: 1fr;
  }

  .checkout {
    width: 100%;
  }
}

.name {
  text-decoration: none;
  font-size: 1.3rem;
}

.checkout_button:disabled,
.checkout_button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.image {
  width: 100px;
  padding: 0.5rem;
  border: 2px solid transparent;
  height: 100px;
  object-fit: cover;
}

.input {
  padding: 1rem;
  width: 100%;
  margin: 0 auto 1rem;
  background-color: #000;
  box-shadow: none;
  color: #fff;
  outline: 1px solid #0de80e;
  border: 2px solid #000;
  box-shadow: 0 14px 28px rgba(10, 78, 25, 0.25),
    0 10px 10px rgba(7, 63, 22, 0.22);
  transition: border 500ms linear, ease 500ms;
}

.input:hover,
.input:focus {
  border: 2px solid #0de80e;
}

/* Table styles */
.table_wrapper {
  overflow-x: auto;
  margin: 0 0.5rem;
}

.table {
  width: 100%;
  border: 1px solid transparent;
  border-color: var(--table-color-border);
}

.table tbody tr:nth-of-type(odd) {
  background-color: var(--table-color-odd);
  color: var(--table-text-color-odd);
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--table-color-even);
  color: var(--table-text-color-even);
}

.table td {
  text-align: left;
  border: 0.1rem solid transparent;
  border-color: var(--table-color-border);
  padding: 0.5rem;
}
